# TODO: create custom action or use the actions listed here to install necessary latex packages:
#      https://stackoverflow.com/questions/59269850/caching-apt-packages-in-github-actions-workflow/73500415#73500415

name: Create Dance Cards

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

#name: "Build LaTex Document"
#on:
#  push:
jobs:
  compile-full:
    name: Compile the full cards
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: wtfjoke/setup-tectonic@v4
      
      - name: Run Tectonic
        run: tectonic cards.tex
      
      - name: Archive full pdf
        uses: actions/upload-artifact@v4
        with:
          name: full-pdf
          path: cards.pdf
  compile-single:
    name: Compile the single cards
    runs-on: ubuntu-latest 

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - uses: wtfjoke/setup-tectonic@v4

      - name: Install python dependencies
        run: pip install -r requirements.txt
        
      - name: Run split script
        run: python3 split.py    

      # TODO: rename pdf files to german names
      # - name: Archive split pdfs
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: single-pdfs
      #     path: single/