# TODO: create custom action or use the actions listed here to install necessary latex packages:
#      https://stackoverflow.com/questions/59269850/caching-apt-packages-in-github-actions-workflow/73500415#73500415

name: Create Dance Cards

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

#name: "Build LaTex Document"
#on:
#  push:
jobs:
  compile-full:
    name: Compile the full cards
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: actions/cache@v3
        name: Tectonic Cache
        with:
          path: ~/.cache/Tectonic
          key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
          restore-keys: |
            ${{ runner.os }}-tectonic-

      - uses: wtfjoke/setup-tectonic@v4
        with:
          tectonic-version: 0.15.0
      
      - name: Run Tectonic
        run: tectonic cards.tex
      
      - name: Rename to target name
        run: mv cards.pdf Tanzanleitungen.pdf
      
      - name: Archive full pdf
        uses: actions/upload-artifact@v4
        with:
          name: full-pdf
          path: Tanzanleitungen.pdf
  compile-single:
    name: Compile the single cards
    runs-on: ubuntu-latest 

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - uses: actions/cache@v3
        name: Tectonic Cache
        with:
          path: ~/.cache/Tectonic
          key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
          restore-keys: |
            ${{ runner.os }}-tectonic-

      - uses: wtfjoke/setup-tectonic@v4
        with:
          tectonic-version: 0.15.0

      - name: Install python dependencies
        run: pip install -r requirements.txt
        
      - name: Run split script
        run: python3 split.py
      
      - run: mkdir -p single
      - name: Copy split pdfs
        run: cp split/*.pdf single/

      # TODO: rename pdf files to german names
      - name: Archive split pdfs
        uses: actions/upload-artifact@v4
        with:
          name: single-pdfs
          path: single/

  compile-multipage:
    name: Compile the multipage versions.
    runs-on: ubuntu-latest
    
    needs: [compile-full, compile-single]
    
    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        name: Tectonic Cache
        with:
          path: ~/.cache/Tectonic
          key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
          restore-keys: |
            ${{ runner.os }}-tectonic-

      - uses: wtfjoke/setup-tectonic@v4
        with:
          tectonic-version: 0.15.0

      - name: Install python dependencies
        run: pip install -r requirements.txt
      
      # get the compiled pdfs
      - uses: actions/download-artifact@v4
        with:
          name: single-pdfs
          path: single/
      - uses: actions/download-artifact@v4
        with:
          name: full-pdf

      #- run: ls -la .
      #- run: ls -la single

      - name: Create multipage tex file 2x2
        run: python multi.py --single_pdfs single/ --full_pdf Tanzanleitungen.pdf --nup_factor 2 --fold_edge short --output_tex Tanzanleitungen_2x2_A6_kurze_Kante.tex
      - name: Create multipage tex file 2x2
        run: python multi.py --single_pdfs single/ --full_pdf Tanzanleitungen.pdf --nup_factor 2 --fold_edge long --output_tex Tanzanleitungen_2x2_A6_lange_Kante.tex

      - name: Create multipage tex file 3x3
        run: python multi.py --single_pdfs single/ --full_pdf Tanzanleitungen.pdf --nup_factor 3 --fold_edge short --output_tex Tanzanleitungen_3x3_A7_kurze_Kante.tex
      - name: Create multipage tex file 3x3
        run: python multi.py --single_pdfs single/ --full_pdf Tanzanleitungen.pdf --nup_factor 3 --fold_edge long --output_tex Tanzanleitungen_3x3_A6_lange_Kante.tex

      - name: Create multipage tex file 4x4
        run: python multi.py --single_pdfs single/ --full_pdf Tanzanleitungen.pdf --nup_factor 4 --fold_edge short --output_tex Tanzanleitungen_4x4_A8_kurze_Kante.tex
      - name: Create multipage tex file 4x4
        run: python multi.py --single_pdfs single/ --full_pdf Tanzanleitungen.pdf --nup_factor 4 --fold_edge long --output_tex Tanzanleitungen_4x4_A8_lange_Kante.tex

      - name: Compile multipage 2x2 short edge
        run: tectonic Tanzanleitungen_2x2_A6_kurze_Kante.tex
        
      - name: Compile multipage 2x2 long edge
        run: tectonic Tanzanleitungen_2x2_A6_lange_Kante.tex
        
      - name: Compile multipage 3x3 short edge
        run: tectonic Tanzanleitungen_3x3_A7_kurze_Kante.tex
        
      - name: Compile multipage 3x3 long edge
        run: tectonic Tanzanleitungen_3x3_A7_lange_Kante.tex
        
      - name: Compile multipage 4x4 short edge
        run: tectonic Tanzanleitungen_4x4_A8_kurze_Kante.tex
        
      - name: Compile multipage 4x4 long edge
        run: tectonic Tanzanleitungen_4x4_A8_lange_Kante.tex

      - name: Archive multipage pdf 2x2 short edge
        uses: actions/upload-artifact@v4
        with:
          name: cards-2x2-shortedge-pdf
          path: Tanzanleitungen_2x2_A6_kurze_Kante.pdf
      - name: Archive multipage pdf 2x2 long edge
        uses: actions/upload-artifact@v4
        with:
          name: cards-2x2-longedge-pdf
          path: Tanzanleitungen_2x2_A6_lange_Kante.pdf

      - name: Archive multipage pdf 3x3 short edge
        uses: actions/upload-artifact@v4
        with:
          name: cards-3x3-shortedge-pdf
          path: Tanzanleitungen_3x3_A7_kurze_Kante.pdf
      - name: Archive multipage pdf 3x3 long edge
        uses: actions/upload-artifact@v4
        with:
          name: cards-3x3-longedge-pdf
          path: Tanzanleitungen_3x3_A7_lange_Kante.pdf

      - name: Archive multipage pdf 4x4 short edge
        uses: actions/upload-artifact@v4
        with:
          name: cards-4x4-shortedge-pdf
          path: Tanzanleitungen_4x4_A8_kurze_Kante.pdf
      - name: Archive multipage pdf 4x4 long edge
        uses: actions/upload-artifact@v4
        with:
          name: cards-4x4-longedge-pdf
          path: Tanzanleitungen_4x4_A8_lange_Kante.pdf
