# This is a basic workflow to help you get started with Actions

name: Create PDF

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: LaTeX compilation full pdf
        # You may pin to the exact commit or the version.
        # uses: dante-ev/latex-action@49cf7cb5f79e7b2006dbdffea85e02bec0b6244b
        uses: dante-ev/latex-action@2021-A
        with:
          # The root LaTeX file to be compiled
          root_file: cards.tex
          # The working directory for the latex compiler to be invoked
          working_directory: .
          # LaTeX engine to be used
          #compiler: # optional, default is latexmk
          # Extra arguments to be passed to the latex compiler
          #args: # optional, default is -pdf -latexoption=-file-line-error -latexoption=-interaction=nonstopmode
          # Install extra packages by apt-get
          #extra_system_packages: # optional


      # TODO: move to requirements.txt
      - name: Install python dependencies
        run: pip install tqdm pypdf2
        
      - name: Run split script
        run: python3 split.py

      - name: LaTeX compilation
        # You may pin to the exact commit or the version.
        # uses: dante-ev/latex-action@49cf7cb5f79e7b2006dbdffea85e02bec0b6244b
        uses: dante-ev/latex-action@2021-A
        with:
          # The root LaTeX file to be compiled
          root_file: ""
          # The working directory for the latex compiler to be invoked
          working_directory: split
          # LaTeX engine to be used
          #compiler: # optional, default is latexmk
          # Extra arguments to be passed to the latex compiler
          #args: # optional, default is -pdf -latexoption=-file-line-error -latexoption=-interaction=nonstopmode
          # Install extra packages by apt-get
          #extra_system_packages: # optional

        # copy those to a separate directory to archive them
      - name: Copy split pdfs
        run: cp split/.build/*.pdf single/

      # TODO: rename pdf files to german names
      - name: Archive split pdfs
        uses: actions/upload-artifact@v3
        with:
          name: single-pdfs
          path: single/
          
      - name: Archive full pdf
        uses: actions/upload-artifact@v3
        with:
          name: full-pdf
          path: .build/cards.pdf

      - name: Create multipage tex file
        run: python multi.py --single-pdfs single/ --full_pdf .build/cards.pdf --nup_factor 2 --fold_edge short --output_tex cards_2x2.tex

      - name: Compile multipage
        # You may pin to the exact commit or the version.
        # uses: dante-ev/latex-action@49cf7cb5f79e7b2006dbdffea85e02bec0b6244b
        uses: dante-ev/latex-action@2021-A
        with:
          # The root LaTeX file to be compiled
          root_file: cards_2x2.tex
          # The working directory for the latex compiler to be invoked
          working_directory: .
          # LaTeX engine to be used
          #compiler: # optional, default is latexmk
          # Extra arguments to be passed to the latex compiler
          #args: # optional, default is -pdf -latexoption=-file-line-error -latexoption=-interaction=nonstopmode
          # Install extra packages by apt-get
          #extra_system_packages: # optional

      - name: Archive multipage pdf
        uses: actions/upload-artifact@v3
          with:
            name: cards-2x2-pdf
            path: .build/cards_2x2.pdf
